* {
    /* border: 0 none; */
    border: 1px black solid;
    box-sizing: border-box;
    font-family: "Overlock", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    /* margin: 0; */
}

h1,
h2,
h3,
p {
  font-size: clamp(
    var(--fluid-type-min, 1vh),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 100vw)
  );
}


html {
}
body {
    /* font-size: 100%; */
}

img {
    width: 100%;
    max-width: 100%;
    background-clip: border-box;
}

p {
    padding: 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: red solid 1px;
}

em {
    font-family: inherit;
}

#hero {
    padding: 0;
}

header {
    background-image: url(img/headerBkg.png);
    font-family: "Aclonica", Arial, Helvetica, sans-serif;
    font-size: larger;
}

#header-row {}

.container {
    border: 1px black solid;
    /* .container adds 15px side margins. I may override that. */
    /* padding: 0; */
    margin: 0;
}            

#main-pitch {
    font-family: "Aclonica", Arial, Helvetica, sans-serif;
}


.row {
    /* margin: 0; */
}
.row div {
    padding: 0;
}

.proposition, .proposition div {
    padding-top: 10px;
    text-align: left;
}
/* .prop-right {} */
/* .prop-left {} */
.proposition img {
    height:300px;
    width: fit-content;
}    



.access-element, .access-element > * {
    height: 0;
    font-size: 0;
    border: 0 none;
}

.placeholder {
    color: darkgreen;
    text-align: center;
    align-items: center;
    border: 1px dashed darkgreen;
}
.placeholder img {
    height: fit-content;
    width: fit-content;
}

#footer {
    font-size: smaller;
    font-style: italic;
    /* border: none; */
}    

.aclonica-regular {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  


/* @font-face { */
    /* font-family: 'Tiamat Condensed SC Regular'; */
    /* src: url("https://www.dndbeyond.com/fonts/tiamatcondensedsc-regular-webfont.woff2") format("woff2") */
    /* src: url("./fonts/tiamatcondensedsc-regular-webfont.woff2") format("woff2") */
/* } */
